*,
::before,
::after {
  font-size: clamp(0.5rem, 0.3301rem + 0.7249vw, 1.2rem);
  background-color: rgb(201, 232, 232);
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --title-bg-color: rgb(0, 0, 0);
  --central-texting-font-size: 2rem;
  --title-text-color: rgb(201, 232, 232);
  --dark-mode-title-bg-color: rgb(255, 255, 255);
}

body {
  margin-bottom: 12rem;
}

body.dark {
  background-color: rgb(52, 52, 52);
  color: aquamarine;
}

h2 {
  font-size: 1.5rem;
}

.app-Title {
  display: flex;
  margin: 0 auto;
  top: 0;
  background-color: var(--title-bg-color);
  position: fixed;
  width: 98%;
  left: 1%;
  justify-content: center;
  font-size: 3.5rem;
  color: var(--title-text-color);
  padding: 0.8rem;
  z-index: 2;
}

.app-Title p {
  font-size: 3.5rem;
}

.app-Title.colored {
  background-color: rgb(64, 29, 169);
}

.greeting {
  position: relative;
  height: 5vh;
}

.greeting p {
  background-color: var(--title-bg-color);
  position: absolute;
  right: -30vw;
  width: 17vw;
  font-size: 0.8rem;
}

@media screen and (min-width: 1200px) {
  .greeting p {
    right: -35vw;
    width: 20vw;
    font-size: 1rem;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .app-Title {
    background-color: var(--dark-mode-title-bg-color);
    color: var(--title-bg-color);
  }
  .greeting p {
    background-color: var(--dark-mode-title-bg-color);
    color: var(--title-bg-color);
  }
}
