* {
  font-size: clamp(0.5rem, 0.3301rem + 0.7249vw, 1.2rem);
  background-color: rgb(201, 232, 232);
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.app-Title {
  display: flex;
  border: 0.1875rem solid black;
  position: fixed;
  width: 98%;
  left: 1%;
  justify-content: center;
  z-index: 2;
}

.app-Title p {
  font-size: 3.5rem;
}

.cards p {
  font-size: 32px;
}

.card-frame {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  width: 90%;
  margin-left: 5%;
}

.cards {
  display: grid;
  justify-content: center;
  position: relative;
  border: 0.1875rem solid black;
  height: 20rem;
  margin: 50px;
}

.cards p {
  font-size: 2.5rem;
  font-weight: 700;
}

.button {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(37, 18, 96);
  margin-bottom: 1rem;
}

.navi {
  display: inline-flex;
  position: fixed;
  bottom: 0;
  height: 8.5rem;
  width: 90%;
  margin: 5%;
  justify-content: space-between;
}
