* {
  font-size: clamp(0.5rem, 0.3301rem + 0.7249vw, 1.2rem);
  background-color: rgb(201, 232, 232);
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.app-Title {
  display: flex;
  border: 0.1875rem solid black;
  position: fixed;
  width: 98%;
  left: 1%;
  justify-content: center;
  z-index: 3;
}
.app-Title p {
  font-size: 32px;
}

.card-frame {
  display: flex;
  position: relative;
  align-items: center;
  height: 1000px;
  width: 90%;
  left: 5%;
  justify-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 2000px;
  top: 20%;
  border: 0.1875rem solid black;
  height: 20rem;
}

.navi {
  position: fixed;
  bottom: 0;
  height: 12.5rem;
  max-width: 100px;
}
