* {
  font-size: clamp(0.5rem, 0.3301rem + 0.7249vw, 1.2rem);
  background-color: rgb(201, 232, 232);
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.app-Title {
  display: flex;
  border: 0.1875rem solid black;
  position: fixed;
  width: 90%;
  margin-left: 5%;
  justify-content: center;
}
.app-Title p {
  font-size: 32px;
}
